.nav {
    overflow: hidden;
    background-color: rgb(112, 71, 44);
    display: flex;
    justify-content: space-around;
    display: block;
    list-style: none;
   height: 70px;
  }
  .nav ul li {

    display: inline-block;
  }
  
  .nav a {
    color: rgb(143, 119, 88);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    font-size: 35px;
  }
  
  .nav a:hover {
   
    color: rgb(240, 194, 157);
  }
  
  .active {
    background-color: rgb(226, 111, 111);
    color: white;
  }



  .li1{
color: antiquewhite;
font-family: Cavolini;
font-size: 25px;
margin-top: 0%;
  }