
.footer {
    text-align:center;
    background-color: rgb(112, 71, 44);
      height: 60px;
      width: 100%;
      position: relative;
      display: flex;
      text-align: center;
      width: 100%;
      color: rgb(218, 194, 163);
      font-size:15px;
    
      text-align: center;  
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
.he{
  margin-top: 15px;
text-align: center;
font-size: 20px;
color: rgb(218, 194, 163);

}