.loginform{
background-color: rgb(226, 198, 158);
    display: flex;
    margin-left: 30%;
    margin-top: 60px;
    justify-content: center;
width: 40%;
height: 60%;
margin-bottom: 80px;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 200px;
color: #000;
border: none;
border-radius: 80px;
background:rgb(155, 131, 101);

transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;
}

.loginform:active {
transform: translateY(-1px);
}
